.page__header {
  margin: 0 48px;
  padding: 28px 0 0 0;
}

@media (max-width:768px) {
  .page__header {
    margin: 0 24px;
  }
}

@media (max-width:600px) {
  .page__header {
    margin: 0 16px;
    padding: 16px 0 0 0;
  }
}
