.places__article{
    margin: 0 0 80px 0;
    padding: 0;
}

.places__article:last-child{
    margin: 0;
}

@media (max-width:768px){
    .places__article{
        margin: 0 0 73px 0;
        padding: 0;
    }
    
}

@media (max-width:600px){
    .places__article{
        margin: 0 0 50px 0;
        padding: 0;
    }
    
}