.lead__title {
  max-width: 720px;
  min-height: 200px;
  margin: 0 0 32px 0;
  padding: 0;
  font-family: "Inter", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
}
@media (max-width: 802px) {
  .lead__title{
    font-size: 86px; 
  }
}

@media (max-width: 670px) {
  .lead__title{
    font-size: 76px; 
  }
}



@media (max-width: 600px) {
  .lead__title {
    max-width: 288px;
    min-height: 88px;
    margin: 0 0 16px 0;
    font-weight: 900;
    font-size: 40px;
    
  }
}

@media (max-width: 425px) {
  .lead__title {
    margin: 0 16px 16px 16px;
  }
}