.place__list {
  margin: 0;
  padding: 0 0;
  width: 100%;
  box-sizing: border-box;
  display: flexbox;
 
  
}

@media (max-width: 600px) {
  .place__list {
    margin: 0 16px;
    max-width: calc(100% - 32px);

  }
}
