.cover {
  max-width: calc(100% - 48px * 2);
  height: calc(100vw * (740/1184));
  background-image: url(../../images/cover-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}
