.cover {
  max-width: calc(100% - 48px * 2);
  min-height: 740px;
  background-image: url(../../images/cover-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width: 600px) {
  .cover {
    min-height: calc(100vw * (200 / 320));
  }
}

@media (max-width: 320px) {
  .cover {
    min-height:200px;
  }
}
