.page__places {
  margin: 92px 148px;
  padding: 0;
  color: #fff;
}

@media (max-width: 1024px) {
  .page__places {
    margin: 92px 48px;
  }
}

@media (max-width: 768px) {
  .page__places {
    margin: 88px 24px 90px 24px;
  }
}
@media (max-width: 425px) {
  .page__places {
    margin: 64px 0 66px 0;
  }
}
