.cover__title {
  margin: 0 0 32px 0;
  padding: 0;
  max-width: 560px;
  height: auto;
  font-family: "Inter", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  /* or 106% */
  text-align: center;
  z-index: 2;
}

@media (max-width: 620px) {
  .cover__title {
    font-size: 50px;
    margin: 0 0 16px 0;
  }
}

@media (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    margin: 0 0 16px 0;
  }
}
