.page__footer {
  margin: 0 48px 24px 48px;
  padding: 0;
  color: #fff;
}

@media (max-width: 768px) {
    .page__footer {
      margin: 0 24px 24px 24px;
    }
  }

  @media (max-width: 425px) {
    .page__footer {
      margin: 0 118px 24px 16px;
    }
  }